.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1024px) {
  .container {
    padding-right: 35px;
  }
}



body {
  font-family: 'Poppins', sans-serif;
}



.cursor-ball {
  width: 20px;
  height: 20px;
  background: rgba(41, 121, 207, 0.5);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.09s linear;
  z-index: 9999;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #c2c9d4;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.mySwiper .swiper-pagination {
  bottom: 0px !important;
}

.mySwiper {
  padding-bottom: 45px !important;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}


@keyframes slideUpShake {
  0% {
    transform: translateY(20px) rotate(0deg);
  }

  40% {
    transform: translateY(-4px) rotate(1deg);
  }

  70% {
    transform: translateY(0px) rotate(-1deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.group:hover .icon-anim {
  animation: slideUpShake 0.5s ease-out;
}



.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background: currentColor;
  transition: width 0.35s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
