.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}



body {
  font-family: 'Poppins', sans-serif;
}



.cursor-ball {
  width: 20px;
  height: 20px;
  background: rgba(41, 121, 207, 0.5);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.09s linear;
  z-index: 9999;
}