.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 1024px) {
  .container {
    padding-right: 35px;
  }
}



body {
  font-family: 'Poppins', sans-serif;
}



.cursor-ball {
  width: 20px;
  height: 20px;
  background: rgba(41, 121, 207, 0.5);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.09s linear;
  z-index: 9999;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #c2c9d4;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.mySwiper .swiper-pagination {
  bottom: 0px !important;
}

.mySwiper {
  padding-bottom: 45px !important;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: max-content;
}


@keyframes cleanPop {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  40% {
    opacity: 1;
    transform: scale(1.3);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.group:hover .icon-anim {
  animation: cleanPop 0.35s ease-out forwards;
}



.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 0%;
  background: currentColor;
  transition: width 0.35s ease;
}

.hover-underline:hover::after {
  width: 100%;
}


.underline-right {
  position: relative;
  padding-bottom: 4px;
  background:
    linear-gradient(currentColor 0 0) var(--p, 0%) 100% / var(--d, 0%) 1px no-repeat;
  transition: background-size .3s ease, background-position 0s .3s;
}

.underline-right:hover {
  --d: 100%;
  --p: 100%;
}


.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #3b82f6; /* blue */
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
